
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1f2937;
}


form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    max-height: 500px;
}

.select-options {
    width: 100%;
    margin-top: 20px;
    display: grid;

}
.select-option{
    margin-top: 20px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 40px;
}

