
body {
    margin: 0;
    padding-top: 80px; /* Espacio para el navbar */
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title{
    font-family: 'Oswald', sans-serif;
}

.pregunta-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    max-height: 500px;
}

.select-options {
    width: 100%;
    margin-top: 20px;
    display: grid;

    font-family: 'Roboto', sans-serif;
}
.select-option{
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 40px;
}

.btnRegresar {
    background-color: transparent;
    color: red;
    border: 1px solid red;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: .2s;
}

.btnRegresar:hover {
    background-color: red;
    color: white;
}

.btnEnviar {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: .2s;
}

.btnEnviar:hover {
    background-color: darkblue;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}