body {
    background-color: #1f2937;
    font-family: 'Oswald', sans-serif;
    padding-top: 80px; /* Espacio para el navbar */
}

h2 {
    text-align: center;
    color: #fff;
}

#chartContainer {
    width: 50%;
    margin: auto;
}
.chart {
    max-width: 100%;
}

label {
    color: white;
}